.users__list__container {
  padding: 5px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-items: center;
  justify-content: center;
}
